*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

continente.status
log-General-Continente.csv
log-General-Jumbo.csv
log-Produtos-Continente.csv
log-Produtos-Jumbo.csv

proxylist

.DS_Store

*.sql
